<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="FirstRule" stopProcessing="true">
                    <match pattern="!^(index\.php|resources|robots\.txt)" />
                    <action type="Rewrite" pattern="^(.*)$ index.php/$1 [L,QSA]" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
